.test{
    font-size: 150px;
    color: red;
    width: 100px;
}
h1{
    font-size: 150px;
    color: red;
    width: 100px;
    font-size: 22px;
}
h2{
    color: aqua;
    font-size: 10px;
}
h3{
    color: blue;
    font-size: 22px;
}

h4{
    color: blue;
    font-size: 22px;
}
.form-group
{
    color: blue;
    font-weight: 200px;
    width: 500px;
    margin-left: 200px;
}

