<form method="post" action="">
    <div class="form-group">

        <div class="mb-3"> 
            <label for="search-input" class="form-label">Từ khóa</label>
            <input type="text" name="q2" placeholder="Nhập từ khóa tại đây..." class="form-control"  id="exampleInputEmail1" aria-describedby="emailHelp" > <br>
            <input type="text" name="q3" placeholder="Nhập từ khóa tại đây..." class="form-control"  id="exampleInputEmail1" aria-describedby="emailHelp" > <br>
            <input type="text" name="q" placeholder="Nhập từ khóa tại đây..." class="form-control"  id="exampleInputEmail1" aria-describedby="emailHelp" >
        </div>  
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </div>
    </div>

                    
        
    <div class="form-group">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
        <select name="gender" class="form-control" id="gender-input">
            <option value="">-- chọn giới tính --</option>
            <option value="male">Nam</option>
            <option value="female">Nữ</option>
        </select>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </div>
</form>